html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body  {
    color: white;
    background: black;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictureouside {
  width: 500px;
  height: 500px;
  background-image: url('https://irqserdsvujcsqwnmndt.supabase.co/storage/v1/object/public/avatars/Programming_Test_layout.png?t=2022-11-04T09%3A43%3A22.164Z');
}
